# Compiled class files
*.class

# Log files
*.log

# Package files
*.jar
*.war
*.ear

# NetBeans
nbproject/private/
build/
dist/
nbbuild/
nbdist/
.nb-gradle/

# Temporary files
*.tmp
*.swp

# OS files
.DS_Store
Thumbs.db